# Supabase config (Deprecated)
NEXT_PUBLIC_SUPABASE_URL=https://rkltdkvfykeaqrppdoab.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SKodPtSolHFP_r0UQYJKfg_uYGU01d0

# Backend configuration
VITE_API_URL=https://api.thanhtung.xyz/api

# Google OAuth2 Credentials
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
